<h1 style="font-size: 37px" class="text-center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-table"
    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
  </svg>&ensp; Quadro de Tarefas</h1>

<div class="row justify-content-center">
  <button (click)="openModal('addTask','')" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-secondary"> <svg
      width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
      <path fill-rule="evenodd"
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg> Tarefa</button>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody *ngIf="!emptyTask">

    <tr *ngFor="let item of listTaks; let i = index" (click)="openModal('updateTask', item.idTask)" data-toggle="modal" data-target="#staticBackdrop">

      <td>
        {{ item.idTask }}
      </td>

      <td>
        {{ item.title }}
      </td>

      <td>
        {{ item.description }}
      </td>

      <td>
        {{ item.status.description }}
      </td>

    </tr>

  </tbody>

  <tbody *ngIf="emptyTask">

    <tr>
      <td colspan="3">
        <div class="row justify-content-center">
          <div class="alert alert-secondary" role="alert">
            Sem tarefas até o momento!
          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 9px;padding-bottom: 0px;">
        <h1 class="modal-title h4" id="exampleModalLgLabel">Tarefa</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm">

          <div class="row form-group">
            <div class="col-md-12">
              <label for="title">Titulo:</label>
              <input class="form-control" placeholder="Titulo" type="text" formControlName="title" id="title" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label for="weight">Peso:</label>
              <input class="form-control" placeholder="Peso" type="number" formControlName="weight" id="weight" />
            </div>

            <div class="col-md-6">
              <label for="effort">Esforço:</label>
              <input class="form-control" placeholder="Esforço" type="number" formControlName="effort" id="effort" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="status">Status:</label>
              <select formControlName="status" class="form-control" id="status">
                <option *ngFor="let item of listStatus; let i = index" value="{{item.idStatus}}">{{item.description}}
                </option>
              </select>
            </div>
          </div>

          <!-- <div class="row form-group">
            <div class="col-md-12">
              <label for="attachments">Anexo:</label>
              <input class="form-control" placeholder="Esforço" type="file" formControlName="attachments"
                id="attachments" />
            </div>
          </div> -->

          <div class="row form-group">
            <div class="col-md-12">
              <label for="description">Descrição</label>
              <textarea class="form-control" formControlName="description" id="description" cols="4"
                rows="6"></textarea>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button *ngIf="!changeTask" data-dismiss="modal" (click)="addTaskProject()" type="submit" class="btn btn-primary">Adicionar</button>
        <button *ngIf="changeTask" data-dismiss="modal" (click)="putExecutionTask()" type="submit" class="btn btn-primary">Alterar</button>
      </div>
    </div>
  </div>
</div>