<div class="card">
    <div class="card-body ">
        <div class="row justify-content-center">
            <div class="col-md-3 text-center">
                <div><strong>Código:</strong></div>
                <div>{{project.idProject}}</div>
            </div>
            <div class="col-md-3 text-center">
                <div><strong>Titulo:</strong></div>
                <div>{{project.title}}</div>
            </div>

            <div class="col-md-3 text-center">
                <div><strong>Descrição:</strong></div>
                <div>{{project.description}}</div>
            </div>

        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        [style.width.%]="project.percentDone" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        Progresso: {{project.percentDone}}%</div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<div class="container-fluid">

    <div class="row" style="margin-bottom: 14px">
        <div class="col-md-9">
            <button (click)="openModal()" data-toggle="modal" data-target="#addAnotationModal" class="btn btn-secondary"> <svg width="1em"
                    height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg> Notação</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <div #messageEl *ngFor="let item of listNotations; let i = index" class="example-box"
                [ngStyle]="{'transform': item.positionCard }" cdkDrag>


                <p>{{item.description}}</p>

                <div (click)="changeNotationPosition(item.idNotation, messageEl)" [attr.id-card]="item.idNotation"
                    class="example-handle" cdkDragHandle>
                    <svg style="margin-left: -53px" width="1.5em" height="1.5em" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>

                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>

                    <svg (click)="getNotation(item.idNotation)" data-toggle="modal" data-target="#addAnotationModal" style="margin-left: -52px; cursor: pointer !important;" width="1.5em" height="1.5em"
                        viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>

                    <svg (click)="deleteNotation(item.idNotation)"
                        style="margin-top: 1px; margin-left: -50px; cursor: pointer !important;" width="1.5em"
                        height="1.5em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-task-board></app-task-board>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addAnotationModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 9px;padding-bottom: 0px;">
                <h1 class="modal-title h4" id="exampleModalLgLabel">Notação</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="notationForm">


                    <div [hidden]="true" class="row form-group">
                        <div class="col-md-12">
                            <label for="title">Id Notation:</label>
                            <input class="form-control" type="text" formControlName="idNotation" id="idNotation" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="title">Titulo:</label>
                            <input class="form-control" placeholder="Titulo" type="text" formControlName="title"
                                id="title" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="description">Descrição</label>
                            <textarea class="form-control" formControlName="description" id="description" cols="4"
                                rows="6"></textarea>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button *ngIf="!notationChange" data-dismiss="modal" (click)="addNotation()" type="submit" class="btn btn-primary">Adicionar</button>
                <button *ngIf="notationChange" data-dismiss="modal" (click)="putNotation()" type="submit" class="btn btn-primary">Alterar</button>
            </div>
        </div>
    </div>
</div>